.header {
    background-image: url('../../../assets/images/sun-wu-kong-1.jpeg');
    background-size: cover;
    background-position: center;
    height: 100vh;

    position: relative;
    &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: radial-gradient(ellipse at center top,
            rgba(73, 72, 72, 0.72) 0%, 
            rgba(29, 29, 29, 0.889) 30%,
            rgba(10, 10, 10, 0.963) 55%,
            rgba(0, 0, 0,) 100%
            );
        animation: forwards fadeIn 3s ease-in-out;

        @keyframes fadeIn {
            0% {
                opacity: 1
            }
            100% {
                opacity: .80;
            }
            
        }
    }
}