<div id="app-home" class="h-screen overflow-hidden" >
  <header class="header bg-black bg-cover bg-center h-screen relative">
    <div class="dark-filter z-10 w-full h-screen absolute"></div>
    <div class="flex w-full z-20 justify-center items-center relative">
      <img
        class="header-avatar bg-none mt-11 opacity-0"
        src="../../../assets/images/sun-wu-kong-avatar-transparent.png"
      />
    </div>
    <div
      class="home-title-container flex w-full justify-around z-30 absolute top-40% left-1/2 -translate-x-1/2 -translate-y-1/2 font-zcoolXiaoWei"
    >
      <div class="home-title text-center opacity-0">
        <span class="text-white text-9xl">悟</span>
        <br />
        <span class="text-white text-5xl">Wu</span>
      </div>
      <div class="home-title text-center opacity-0">
        <span class="text-white text-9xl">空</span>
        <br />
        <span class="text-white text-5xl">Kong</span>
      </div>
    </div>
  </header>
  <button
    class="home-enter-button absolute bottom-5 right-5 z-40 flex flex-col"
  >
    <mat-icon
      svgIcon="monkey-dashing"
      class="home-dashing-icon !w-12 !h-full p-1"
    ></mat-icon>
    <span class="text-white text-3xl ml-4">Enter</span>
  </button>
</div>
