@import '../../../styles/animations.scss';

.header-avatar {
    @include fadeIn;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.home-title {
        @include fadeIn;
        animation-duration: 7s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
        animation-delay: .5s;
}

