body.dark-theme {
    .mat-toolbar {
        background-color: rgb(34, 33, 33) !important;
        color: #fff !important;
    }

    .mat-icon {
        svg {
            g {
                fill: #fff !important;
            }
        }
    }
}
