@import '../styles/colors.scss';

body.dark-theme {
    background: linear-gradient(to right bottom, #434343, #202020);
    

    .mat-icon {
        svg {
            g {
                fill: #fff;
            }
        }
    }

    span, p {
        color: #fff;
    }
}
