@font-face {
    font-family: 'ZCOOL_XiaoWei';
    src: url('../assets/fonts/ZCOOL_XiaoWei/ZCOOLXiaoWei-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'Noto_Serif_SC';
    src: url('../assets/fonts/Noto_Serif_SC/NotoSerifSC-Regular.otf');
    font-weight: normal;
    font-style: normal;
}