body.light-theme {
    .mat-toolbar {
        background-color: #fff !important;
        color: #000 !important;
    }

    .mat-icon {
        svg {
            g {
                fill: #000 !important;
            }
        }
    }
}
