body.light-theme {
    .mat-toolbar {
        background-color: #fff !important;
        color: #000 !important;
    }

    .icon-button {
        transition: .15s ease-in-out;

        &:hover {
            border-bottom: 1px solid rgb(0, 0, 0);
            transform: scale(1.25);
        }
    }

    .mat-icon {
        svg {
            g {
                fill: #000 !important;
            }
        }
    }
}
