<mat-toolbar class="items-center w-full" id="app-navigation-bar">
  <a routerLink="/" class="grow font-zcoolXiaoWei tracking-widest"> Wu Kong</a>
  <div class="action-btns-container flex justify-end mx-8 gap-x-8">
    <button
      class="icon-button flex items-center"
      (click)="onToggleTheme()"
      [matTooltip]="theme === 'light-theme' ? 'Dark' : 'Light'"
    >
      <ng-container>
        <mat-icon
          aria-hidden="false"
          aria-label="theme icon"
          [svgIcon]="theme || 'light-theme'"
        ></mat-icon>
      </ng-container>
    </button>
    <button
      class="icon-button flex items-center"
      *ngIf="user"
      (click)="dashboardClick()"
      matTooltip="Dashboard"
    >
      <mat-icon svgIcon="monkey-king-serious-sad"> </mat-icon>
    </button>
    <button
      class="icon-button flex items-center"
      *ngIf="user"
      (click)="signOut()"
    >
      <mat-icon svgIcon="monkey-angry" matTooltip="Sign Out"> </mat-icon>
    </button>
  </div>
</mat-toolbar>
