<mat-toolbar class="items-center w-full">
  <span class="grow">Sun Wu Kong 七十二变</span>
  <div class="action-btns-container flex justify-end mx-8">
    <button
      class="icon-button mx-4 flex items-center"
      (click)="onToggleTheme()"
    >
      <ng-container>
        <mat-icon
          aria-hidden="false"
          aria-label="theme icon"
          [svgIcon]="theme || 'light-theme'"
        ></mat-icon>
      </ng-container>
    </button>
    <button class="icon-button mx-2 flex items-center">
      <mat-icon svgIcon="monkey-king-serious-sad"> </mat-icon>
    </button>
  </div>
</mat-toolbar>
