/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    overflow-x: hidden;
    box-sizing: content-box;
}

@import 'styles/dark-theme.scss';
@import 'styles/light-theme.scss';
@import 'styles/fonts.scss';
@import 'styles/color-filters.scss';
@import 'styles/animations.scss';
@import 'styles/colors.scss';
